body {
     display: flex;
     flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0 140px;
    }

.header-container { 
    color: #fff;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.hero-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.subtext-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
}

.header-image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links{
    font-size: 18px;
    display: flex;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

ul{ 
    list-style: none;
    gap: 16px;
}

li {

}

.sub-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sub-text {
	font-size: 18px;
	color: #e5e7eb;
    padding: 16px 0px;
}

.hero-button{
    border-radius: 4px;
    background-color: #3882f6;
    color: white;
    border: none;
    color: white;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bolder;
    width: 125px;
}



.content {
    text-align: center;
    padding: 25px 300px; /* 1st number is top/bottom, 2nd is left/right */
    display: flex;
    flex-direction: column;
}

.content-header{
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
}

.image-container {
    display: flex;
    justify-content: space-around;
    gap: 64px;
}

.image-container img {
    width: 200px;
    height: 200px;
    border: 6px solid #3882f6;
    border-radius: 12px;
}

.content-image{
    width: 200px;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-direction: column; 
    padding: 50px 300px;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.small-text{
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    font-weight: bold;
}

.call-to-action{
    margin: 96px;
    color: #F9FAF8;
}

.call-container{
    background-color: #3882f6;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-head{
    font-size: 24px;
    font-weight: bold;
}

.call-text{

}

.call-button{
    border-radius: 4px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 4px;
    font-size: 16px;
    font-weight: bolder;
    width: 125px;
}

.footer {
     background-color: #1F2937;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #f9faf8;
     padding: 32px;
}